.search_box {
    background-color: var(--container);
    font: var(--Heading-6);
    color: var(--text-soft);
    padding: var(--space-2) var(--space-4) var(--space-2) var(--space-2);
    width: 100%;
    box-shadow: var(--bs);
    border: none;
    display: flex;
    align-items: center;
    column-gap: var(--space-2);
    border-radius: var(--space-5);
    box-shadow: var(--bs);
}

.search_input {
    all: unset;
    font-size: 0.85rem;
    width: 100%;
    line-height: 1;
}
.search_input::placeholder{
    color:var(--text-soft)
}
.search_input:valid{
    color: var(--primary);
}
.search_box:has(.search_input:focus){
    outline: 2px solid var(--primary);
}