.sidebar{
    width: 237px;
    max-height: 904px;
    height: fit-content;
    overflow: hidden;
    background-color: var(--Background-Container-light);
    padding: var(--pad-lg);
    border-radius: var(--space-24);
}