.btn_lg {
    font: var(--Button-lg);
    padding: var(--pad-lg);
    border: none;
    background-color: var(--light-btn-primary);
    color: var(--light-btn-text-primary);
    border-radius: var(--space-16);
    cursor: pointer;
    transition: background-color 250ms ease-out,color 150ms ease-out;
}
.btn_lg:hover{
    background-color: var(--light-btn-hover);
    color: var(--light-btn-text-hover);
}
.btn_md {
    font: var(--Button-md);
    padding: var(--pad-md);
    border: none;
    background-color: var(--light-btn-primary);
    color: var(--light-btn-text-primary);
    border-radius: var(--space-8);
    cursor: pointer;
    transition: background-color 250ms ease-out,color 150ms ease-out;
}
.btn_md:hover{
    background-color: var(--light-btn-hover);
    color: var(--light-btn-text-hover);
}