*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
:root {
  --space-40: 40px;
  --space-32: 32px;
  --space-24: 24px;
  --space-16: 16px;
  --space-12: 12px;
  --space-8: 8px;
  --space-4: 4px;
  --Background-light: hsla(0, 0%, 88%, 1);
  --Background-dark: hsla(0, 0%, 8%, 1);
  --Background-Container-light: hsla(0, 0%, 95%, 1);
  --Background-Container-dark: hsla(0, 0%, 14%, 1);
  --dark-text-soft: hsla(0, 0%, 55%, 1);
  --dark-icon-soft: hsla(0, 0%, 72%, 1);
  --dark-btn-text-normal: hsla(0, 0%, 44%, 1);
  --dark-btn-icon-normal: hsla(0, 0%, 41%, 1);
  --dark-btn-primary: hsla(0, 0%, 95%, 1);
  --dark-btn-Secondry: hsla(0, 0%, 25%, 1);
  --dark-btn-hover: hsla(0, 0%, 33%, 1);
  --dark-btn-text-hover: hsla(0, 0%, 75%, 1);
  --dark-btn-text-activate: hsla(0, 0%, 12%, 1);
  --dark-btn-icon-hover: hsla(0, 0%, 50%, 1);
  --dark-btn-icon-activate: hsla(0, 0%, 24%, 1);
  --light-text-soft: hsla(0, 0%, 34%, 1);
  --light-icon-soft: hsla(0, 0%, 20%, 1);
  --light-btn-text-normal: hsla(0, 0%, 24%, 1);
  --light-btn-primary: hsla(0, 0%, 8%, 1);
  --light-btn-Secondry: hsla(0, 0%, 80%, 1);
  --light-btn-hover: hsla(0, 0%, 85%, 1);
  --light-btn-icon-hover: hsla(0, 0%, 57%, 1);
  --light-btn-icon-activate: hsla(0, 0%, 88%, 1);
  --light-btn-text-hover: hsla(0, 0%, 32%, 1);
  --light-btn-text-primary: hsla(0, 0%, 85%, 1);
  --light-btn-icon-normal: hsla(0, 0%, 32%, 1);
  --fs-h1:3.815rem;
  --fs-h2:3.052rem;
  --fs-h3:2.441rem;
  --fs-h4:1.953rem;
  --fs-h5:1.563rem;
  --fs-h6:1.25rem;
  --fs-body:1rem;
  --fs-small:0.875rem;
  --fs-xs:0.75rem;
  --fs-btn-lg:1.125rem;
  --fs-btn-md:1rem;
  --Heading-1:800 var(--fs-h1)/ calc(var(--fs-h1*1.2)) "Inter", sans-serif;
  --Heading-2:600 var(--fs-h2)/calc(var(--fs-h2*1.2)) "Inter", sans-serif;
  --Heading-3:500 var(--fs-h3)/ calc(var(--fs-h3*1.2)) "Inter", sans-serif;
  --Heading-4:500 var(--fs-h4)/ calc(var(--fs-h4*1.4))"Inter", sans-serif;
  --Heading-5:500 var(--fs-h5)/ calc(var(--fs-h5*1.4)) "Inter", sans-serif;
  --Heading-6:500 var(--fs-h6)/ calc(var(--fs-h6*1.4)) "Inter", sans-serif;
  --body:400 var(--fs-body)/ calc(var(--fs-body*1.6)) "Inter", sans-serif;
  --Small:400 var(--fs-small)/ calc(var(--fs-small*1.6)) "Inter", sans-serif;
  --Extrasmall:400 0.75rem/24px "Inter", sans-serif;
  --Button-lg:500 var(--fs-btn-lg)/ 24px "Inter", sans-serif;
  --Button-md:500 var(--fs-btn-md)/24px "Inter", sans-serif;
  --pad-lg:var(--space-12) var(--space-24);
  --pad-md:var(--space-8) var(--space-16);
}
.d-flx{
  display: flex;
}
.center{
  justify-content: center;
  align-items: center;
}
.vgap-8{
  column-gap: var(--space-8);
}
.vgap-24{
  column-gap: var(--space-24);
}
.hgap-8{
  row-gap: var(--space-8);
}
.hgap-24{
  row-gap: var(--space-24);
}
.self-flx-s{
  align-self:flex-start;
}
.container{
  /* width: fit-content;
  height: fit-content; */
  width: 1361px;
  background-color: var(--Background-light);
  height: 976px;
  overflow:hidden ;
  margin: auto;
  border:1px solid
}