.logo_text {
    display: inline-block;
    font-size: clamp(24px, 2.55vw, 32px);
    color: var(--primary);
    font-weight: bold;
    letter-spacing: clamp(-1px, 2vw, -2.5px);
}

.logo_wrapper {
    display: inline-block;
    height: clamp(28px, 2.55vw, 32px);
    width: clamp(28px, 2.55vw, 32px);
}